//********************************* 
//* NESTING (2)
//*********************************

//* Due to I names both pages similar I had problems when creating unique classes (there are two classes with the keyword "nesting", but one refers to the nesting(1) page, and the other to the nesting(2) page ... in essence there's not too much problem because the classes don't have te exact same name, but you know, if this would a mistake repeated to many times across the two pages, would be difficult to understand everything.
.nesting {
    &-container {
        $_flex-gap: map.get(abs.$ly, 'margin-block') * 2;
        @include less.flexbox
        (
            $wrap: wrap, 
            $jt-content: center, 
            $al-items: center, 
            $gap: $_flex-gap
        );
        margin: map.get(abs.$ly, 'margin-block') auto;
        max-inline-size: 90rem;
        padding: map.get(abs.$ly, 'padding');
        font-size: 1.8rem;
        text-align: center;
        @include less.query($device: 'tablet', $size: 'md') {
            @include less.flexbox($display: false, $wrap: nowrap);   
        }
    }
}

//********************************* 
//* NESTING (2) - CARD
//*********************************
.card {
    $_flex-gap: 2.5rem;
    &-container {
        @include less.flexbox
        (
            $dir: column, 
            $jt-content: center, 
            $gap: $_flex-gap
        );
        inline-size: 100%;
        padding: map.get(abs.$ly, 'padding');
        border-radius: map.get(abs.$ly, 'rounded');
        background-color: map.get(abs.$alpha, 'white-300');
        transition: abs.$trans-300;
        @include less.query($device: 'tablet', $size: 'sm') {
            max-inline-size: 30rem;
        }

        &:hover {
            background-color: map.get(abs.$alpha, 'white-200');
            @include less.query($device: 'desktop', $size: 'sm') {
                transform: translateY(-2.5%);
            }
        }

        &:nth-child(odd) { block-size: 60rem; }

        &:nth-child(even) { 
            order: 1;
            block-size: 70rem; 
            @include less.query($device: 'tablet', $size: 'md') {
                order: initial;
            }
        }
    }

    &__heading { 
        @extend %heading;
        text-transform: capitalize; 
        color: map.get(abs.$clr, 'white');
    }
    
    &__content {
        @include less.flexbox($dir: column, $gap: $_flex-gap);
    }

    &__item {
        padding: .5em;
        border-bottom: .1rem solid map.get(abs.$clr, 'gray');
        text-align: center;
        line-height: 1.5em;
    }


    &__price {
        font: {
            size: 5rem;
            weight: bold;
        }
        display: block;
    }

    &__btn {
        align-self: center;
        padding: 1em;
        border-radius: map.get(abs.$ly, 'rounded');
        background-color: map.get(abs.$clr, 'lt', 'yellow-200');
        color: initial;
        transition: abs.$trans-300;

        &:hover {
            background-color: map.get(abs.$clr, 'dk', 'yellow-100');
        }
    }
}