//********************************* 
//* FOOTER 
//*********************************
.footer {
    &-container { @extend %layout-basics; }

    &__content { letter-spacing: abs.$spacing; }

    &__span { 
        font: {
            weight: 700;
            variant: small-caps;
        }
    }
}