//********************************* 
//* NAVIGATION 
//*********************************
.nav {
    &-container { 
        order: 1;
        padding: 0; 
        @include less.query($device: 'tablet', $size: 'sm') {
            order: initial;
        }
    }

    &__list {
        @include less.query($device: 'tablet', $size: 'sm') {
            @include less.flexbox();
        }
    }

    &__item { flex-grow: 1; }

    &__link {
        display: inline-block;
        padding: map.get(abs.$ly, 'padding');
        inline-size: 100%;
        color: map.get(abs.$clr, 'white');
        letter-spacing: abs.$spacing;
        transition: abs.$trans-300;

        &:hover { background-color: map.get(abs.$alpha, 'black-300'); }
    }
}